.space
  .ship
    .ship-rotate
      .pod
      .fuselage
  .ship-shadow
  .mars
    .tentacle
    .flag
      .small-tentacle
    .planet
      .surface
      .crater1
      .crater2
      .crater3
  
  .test